<div class="sobre">
    <h1>QUEM SOMOS</h1>
    <div class="texto">
        <p>
            Fundado em 2003, o TecInfo! foi um dos pioneiros no comércio eletrônico brasileiro e hoje é o maior
            e-commerce de Tecnologia e Games na América Latina. Desde sua criação, a empresa é formada por histórias e conquistas de um time obcecado por agilidade, qualidade de atendimento, velocidade de entrega e respeito pelo consumidor.
            <br>
            Com preços imbatíveis e mais de 20 mil produtos em seu catálogo, o TecInfo! está sempre à frente e traz em
            primeira mão os melhores lançamentos do mercado mundial. São mais de 8 milhões de pessoas atendidas e entregas realizadas em todas as regiões do país, totalizando mais de 5.000 cidades.
            <br>
            O e-commerce é um dos sites mais acessados do país e lidera o ranking das lojas virtuais mais recomendadas
            pelos consumidores brasileiros, no segmento de tecnologia e games*, com os principais índices de avaliação e selos de qualidade da internet.
            <br>
            Além do e-commerce, o KaBuM! é um grande incentivador dos esportes eletrônicos, sendo responsável pela
            criação de uma das maiores equipes de League of Legends do Brasil, a TecInfo! Esports, tetracampeã nacional e a primeira representante brasileira no Campeonato Mundial.
        </p>
    </div>
</div>