<footer>
    <div class="footer-content">
        <h1>TECINFO</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facere impedit.</p>
        <ul class="socials">
            <li><a href=""><i class="bi bi-facebook"></i></a></li>
            <li><a href=""><i class="bi bi-twitter"></i></a></li>
            <li><a href=""><i class="bi bi-instagram"></i></a></li>
            <li><a href=""><i class="bi bi-youtube"></i></a></li>
            <li><a href=""><i class="bi bi-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 tecInfo. projetado por <span>Breno</span></p>
    </div>
</footer>